html,body
{
    width: 100%!important;
    height: 100%!important;
    margin: 0px!important;
    padding: 0px!important;
    overflow-x: hidden!important; 
}
header{
	background-color: #242424;
	margin-bottom: 0;
	
}
.carousel-captio ul{
	list-style-type:none;
	background-color: rgba(0,0,0,0) !important;
}

header h1 > a{
	color: #57c5a0 !important;
	font-size: 26px;
}

header a{
	color:  #7e7e7e !important;
	font-size: 11px;
	
}
header a>p{
	
	margin-bottom: 0px !important;
}
.navigation a{
	padding-right: 25px !important;
	padding-left: 25px !important;
	color: #000!important;
}
.navigation ul{
	padding-bottom: 15px;
	padding-top: 15px
}
body {
    padding-top: 70px;
    font-family: 'Lato',sans-serif;
}
 header .form-control:focus {
    color: #63686d;
    background-color: #242424;
    border-color: #57c5a0;
    outline: none;
}
 header input[type=search] {
  background-color: rgb(46, 46, 46);
  width: 100%;
  height: 100%;
  z-index: 47;
  float: left;
display:none;
}
#search-button{
	position: absolute;
	top :35%;
	left: 0%;
}
.search input[type=search]:focus + .results { display: block }

 .mobile-search .form-control:focus {
    color: #63686d;
    background-color: #242424;
    border-color: #57c5a0;
    outline: none;
}
 .mobile-search input[type=search] {
  background-color: rgb(46, 46, 46);
  width: 200px;
  height: 50px;
  z-index: 47;
  float: left;
  position: absolute;
  top: 100%;
  left: 25px;
  display:none;
}


.results{
	background-color: #4c4c4c;
	list-style: none; 
	font-size: 12px;
   font-family: "Myriad Pro";
   color: rgb(170, 170, 170);
   text-transform: uppercase;
   line-height: 1.5;
   text-align: left;
   padding-left: 0px !important;
   display: none;
   position: absolute;
   top: 100%;
   width:100%;
}
.results li{
	border-bottom: 1px solid #666464; 
	border-left: 1px solid #666464;
	border-right: 1px solid #666464;
}
.mobile-search .results{
	background-color: #4c4c4c;
	list-style: none; 
	font-size: 12px;
   font-family: "Myriad Pro";
   color: rgb(170, 170, 170);
   text-transform: uppercase;
   line-height: 1.5;
   text-align: left;
   padding-left: 0px !important;
   display: none;
   position: absolute;
   top: 250%;
   left: 26px;
   width:198px;
}




.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}


a {
	color: rgba(105, 105, 105, 0.8) !important;
}
a:hover{
	color :#57c5a0 !important;
}
 header button{
	background-color: #242424!important;
	border-width: 0px !important;
 	border-style: none !important;
 	color:  #7e7e7e !important;
	font-size: 11px !important;
	border-color:#57c5a0 !important;

}
header button:focus{
	box-shadow: 0 0 0 1px #57c5a0 !important;
}
.modal-header button{
	background-color: #ebe7df!important;
	font-size: 16px !important;
}
.modal-header h4{
	text-align: center !important;
}
header .modal-content {
	color: #57c5a0 !important;
	background-color: #ebe7df !important;
}

.box30{
	position: absolute;
	top: 185%;
	left: 32%;
	background-color: rgb(173, 173, 173);
	color: #fff;
	height:30px;
	width: 20px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-radius: 5px;
}
.box30:hover{
	background-color: rgb(87, 197, 160);
}
.box0{
	position: absolute;
	top: 185%;
	left: 74%;
	background-color: rgb(173, 173, 173);
	color: #fff;
	height:30px;
	width: 20px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-radius: 5px;
}
.box0:hover{
	background-color: rgb(87, 197, 160);
}

.carousel-caption li{
	padding-right: 0px !important;
	padding-left: 0px!important;
}
.carousel-caption a{
	background-color: #fff!important;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
}
.carousel-indicators{
	background-color: #000!important;
	height: 10px !important;
	bottom: -30px !important;
	margin-right: 25% !important;
    margin-left: 25% !important;
    text-align: center;
}
.carousel-indicators .active{
	background-color: #57c5a0 !important;

}
.carousel-indicators .active h2{
	color: #fff !important;

}
.carousel-indicators li{
	color :#57c5a0 !important;
	background-color: #000 !important;
	width: 200px !important;
	height: 6px !important;
	position: absolute;
	top:2px;
	text-indent: 0px !important;
}
.carousel-indicators h2, .carousel-indicators p{
	color: #acacac;
	padding-top: 10px;

}

.slider-navigation{
	height:120px;
	background-color: #2e2e2e;
}
.special-offers{
	text-align: center;
}
.special-offers img{
	height: 180px;
    width: 300px;
}
.special-offers{
	padding-top: 23px;
	padding-bottom: 23px;
	position: relative;
}
.on-sale h3{
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	font-size: 25px !important;
	font-weight: normal !important;
	position: absolute;
	top:35%;
	left:30%; 
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.special-offert h3{
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	font-size: 25px !important;
	font-weight: normal !important;
	position: absolute;
	top:35%;
	left:20%; 
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.must-have h3{
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	font-size: 25px !important;
	font-weight: normal !important;
	position: absolute;
	top:35%;
	left:25%; 
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.carousel-item{
	position: relative;
}
.carousel-caption{
  font-size: 20px;
  font-family: "Myriad Pro";
  color: rgb(36, 36, 36)!important;
  line-height: 1.25;
  text-align: left !important;
  position: absolute;
  left: 55% !important;
  top: 30%;
  z-index: 205;
}
.carousel-caption ._145-99 {
  font-size: 13px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  background-color: rgb(87, 197, 160);
  font-weight: bold;
  line-height: 1.923;
  text-align: left;
  z-index: 202;
  padding-bottom: 27px;
  padding-top: 27px;
  padding-right: 18px;
  padding-left: 18px;
  position: absolute;
  top:-100px;
  left: 10px;
}
.banner-products{
	position: relative;
}
.products-caption ._145-99_products {
  font-size: 13px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  background-color: rgb(87, 197, 160);
  font-weight: bold;
  line-height: 1.923;
  text-align: left;
  z-index: 202;
  padding-bottom: 27px;
  padding-top: 27px;
  padding-right: 18px;
  padding-left: 18px;
  position: absolute;
  top:20%;
  left: 51%;
}
.products-caption h1{
	font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(36, 36, 36)!important;
  line-height: 1.25;
  text-align: left !important;
  position: absolute;
  left: 58% !important;
  top: 18%;
  z-index: 205;
}
.products-caption .banner-p{
  font-size: 20px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.25;
  text-align: left;
  position: absolute;
  left: 51%;
  top: 51%;
  z-index: 43;
  width: 350px;
}

.slider-controller ul{
	background-color: #242424 !important;
}

.slider-controller li{
	display: inline-block;
	padding-right: 20px;
	padding-left: 15px;
	font-size: 16px !important;
	color: #000!important;

}


.row.vertical-divider [class*='col-']:not(:last-child):after {
  border: 1px solid #ccc;
}

.special-offers{
	background-color: #242424;
}
.sort-products{
	height: 90px;
	padding-top: 15px;
	background-color: #2e2e2e;
}
.sort-products h2{
	color: #fff;
	z-index: 16;
	font-size: 22px;
    font-family: "Aller";
    line-height: 1.136;
    padding-top: 13px;
}
.selectpicker {
  background-color: rgba(36, 36, 36,0.75) !important;
  color: #fff;
  font-size: 18px;
  line-height: 1.389;
  text-align: center !important;
  z-index: 29;
  width: 100%;
  height: 60px;
  border-width: 0px !important;
  border-style: none !important;
}
option{
	background-color: rgba(36, 36, 36,0.5) !important;
	text-align: center;
	color: #57c5a0;
}
select.round{
	overflow: hidden;
	-webkit-appearance: none;
}
.caret{
	position: absolute;
	top:40%;
	left:87%; 
}
.disabled-option{
	color:#bcb9b5;
}
.Home_____All_Products {
  font-size: 12px;
  font-family: "Aller";
  color: rgb(188, 181, 167);
  font-weight: bold;
  line-height: 2.083;
  text-align: left;
  padding-top: 20px;
  z-index: 12;
  }
.View_as {
  font-size: 14px;
  font-family: "Aller";
  color: rgb(188, 181, 167);
  font-weight: bold;
  line-height: 1.786;
  text-align: center;
  padding-top: 20px;
  z-index: 9;
  float:left;
}
.set_view1{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	height:26px;
	width: 26px;
	border: 1px solid rgb(188, 181, 167);
	position: absolute;
	top:27%;
	left :25%;
}
.set_view2{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	height:26px;
	width: 26px;
	border: 1px solid rgb(188, 181, 167);
	position: absolute;
	top:27%;
	left:35%;
}
.view_sort{
font-size: 14px;
  font-family: "Aller";
  color: rgb(188, 181, 167);
  font-weight: bold;
  line-height: 1.786;
  
	padding-left: 15px;
	padding-right: 15px;
  border: 1px solid rgb(188, 181, 167);
  position: absolute;
	top:26.5%;
	left: 45%;
}

.products{
	background-color: #ebe7df!important;
	padding-bottom: 25px;
}
.products h2{
font-size: 25px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 2.4;
  text-align: left;
  z-index: 152;
  float: left;
}
.information{
	background-color: #ebe7df!important;
}
.blockquote{
	padding-top: 10px;
	
}
.blockquote h2{
	font-size: 25px !important;
	color: #242424;
}
.blockquote .btn{
	font-size: 14px !important;

}
.products ul{
	list-style-type:none;
	background-color: #fff !important;
}
.list_shoes{
	display: none;
}
.shoes{
	position: relative;
}
.shoes p{
	background-color: #57c5a0;
	position: absolute;
	top: 74.5%;
	left: 10%;
	padding-bottom: 23px;
	padding-right: 8px;
	padding-top: 23px;
	padding-left:8px;
	color: #fff;
	font-weight:bold;
	font-size: 13px !important;
}
.shoes i p{
	background-color: #242424;
	position: absolute;
	top: 0px;
	left: 72%;
	padding-bottom: 25px;
	padding-right: 8px;
	padding-top: 25px;
	padding-left:8px;
	color: #fff;
	font-weight:bold;
	font-size: 13px !important;
}
.shoes a p{
	background-color: #f27e4b;
	position: absolute;
	top: 0px;
	left: 72%;
	padding-bottom: 15px;
	padding-right: 8px;
	padding-top: 15px;
	padding-left:8px;
	color: #fff;
	font-weight:bold;
	font-size: 13px !important;
}
.shoes h3{
	text-align: center;
	padding-bottom: 18px;
	font-size: 18px
	height:100%;
	width:100%;
}
.shoes-action1 li,.shoes-action2 li,.shoes-action3 li,.shoes-action4 li,
.shoes-action5 li,.shoes-action6 li,.shoes-action7 li,.shoes-action8 li,
.shoes-action9 li{
	display: inline-block;
	padding-right: 20px;
	padding-left: 15px;
	font-size: 16px !important;
	color: #000!important;
	height: 49px;
}
.shoes-action1, .shoes-action2, .shoes-action3, .shoes-action4, 
.shoes-action5, .shoes-action6, .shoes-action7, .shoes-action8, 
.shoes-action9 {
	display: none;	
}
.ceva{

}
.divider{
	margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.site-information-hide{
	display: none;

}
.site-information{
	background-color: #dfdbd4;
	position: relative;
	padding-bottom: 20px;
	padding-left: 20px;
}

.free-shipping p {
  font-size: 12px!important;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.333;
  text-align: left;
  width: 178px;
  height: 91px;
  z-index: 91;
}
.free-shipping h4{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.286;
  text-align: left;
  z-index: 90;
}

.testimonials p {
  font-size: 12px!important;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.333;
  text-align: left;
  width: 178px;
  height: 91px;
  z-index: 91;
}
.testimonials h4{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.286;
  text-align: left;
  z-index: 90;
}
.blog-news h4{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.586;
  text-align: left;
  z-index: 90;
}
.blog-news h5{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  font-weight: bold;
  line-height: 1.143;
  text-align: left;
  padding-left: 60px;
  width: 420px;
}
.blog-news p {
  font-size: 12px!important;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.333;
  text-align: left;
  padding-left: 60px;
  width: 420px;
}
.site-information .APR-1{
	background-color: #57c5a0;
	position: absolute;
	top: 65px;
	left: 22px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-top: 8px;
	padding-left:12px;
	color: #fff;
	font-weight:bold;
	font-size: 10px !important;
	font-family: "Aller";
	text-align: center;
}
.site-information .APR-2{
	background-color: #57c5a0;
	position: absolute;
	top: 120px;
	left: 22px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-top: 8px;
	padding-left:12px;
	color: #fff;
	font-weight:bold;
	font-size: 10px !important;
	font-family: "Aller";
	text-align: center;
}

.Bg {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 450px;
  z-index: 22;
  padding-top: 45px;
}

.text-widget p {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(164, 164, 164);
  line-height: 1.5;
  text-align: justifyLeft;
  width: 250px;
  height: 101px;
  z-index: 67;
}
.text-widget h4{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(125, 125, 125);
  line-height: 1.286;
  text-align: left;
  width: 185px;
  height: 25px;
  z-index: 68;
}
.twitter-widget p {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(164, 164, 164);
  line-height: 1.5;
  text-align: justifyLeft;
  width: 250px;
  height: 101px;
  z-index: 67;
}
.twitter-widget h4{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(125, 125, 125);
  line-height: 1.286;
  text-align: left;
  width: 185px;
  height: 25px;
  z-index: 68;
}
.twitter-widget a{
  color:#57c5a0;
}
.twitter-widget a:hover{
  color:grey;
}
.flikr-widget h4{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(125, 125, 125);
  line-height: 1.286;
  text-align: left;
  width: 185px;
  height: 25px;
  z-index: 68;
}
.flickr_badge_image {margin:0px;display:inline;}
.flickr_badge_image img {border: 1px solid #666666 !important; padding:1px; margin:2px;}
#flickr_badge_wrapper {width:260px;text-align:left}

.Bg input[type=email] {
  background-color: rgb(46, 46, 46);
  position: absolute;
  top: 30px;
  width: 200px;
  height: 38px;
  z-index: 47;
   border: 0px !important;

}
.submit{
  background-color: rgb(125, 125, 125);
  position:relative;
  top:30px;
  left: 200px;
  text-align: center;
  font-weight:bold;
  font-size: 24px !important;
  padding-left: 8px;
  padding-right: 8px;
  border: 0px !important;
}
.social-icons{
	list-style: none !important;
}
.social-icons li{
	    padding-right: 5px !important;
    	padding-left: 5px !important;
    	padding-top: 30px;
}
.facebook .img-hover {
        display: none;
        position: absolute;
        top: 30px;
        left: 20px;
        z-index: 99;
    }
.facebook:hover .img-hover {
        display: inline;
    }
.twitter .img-hover {
        display: none;
        position: absolute;
        top: 30px;
        left: 65px;
        z-index: 99;
    }
.twitter:hover .img-hover {
        display: inline;
}
.google .img-hover {
        display: none;
        position: absolute;
        top: 30px;
        left: 111px;
        z-index: 99;
    }
.google:hover .img-hover {
        display: inline;
    }
 .linkedin .img-hover {
        display: none;
        position: absolute;
        top: 30px;
        left: 157px;
        z-index: 99;
    }
.linkedin:hover .img-hover {
        display: inline;
    }
 .flickr .img-hover {
        display: none;
        position: absolute;
        top: 30px;
        left: 205px;
        z-index: 99;
    }
.flickr:hover .img-hover {
        display: inline;
    }

footer{
  background-color: rgb(46, 46, 46);
  width: 100%;
  height: auto;
  z-index: 17;
}	

footer .copyright{
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.5;
  text-align: left;
  z-index: 19;
  padding-top: 30px
}
footer .support{
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.5;
  text-align: right;
  z-index: 19;
  padding-top: 30px
}
@media (max-width: 576px){

	.Bg{
		height:600px;
	}
	.mobileShop{
		background-color: rgba(0,0,0,0.0)!important;
		position: relative;
		top: -310px;
		height: 0px;
	}

	._145-99 {
	  font-size: 10px;
	  font-family: "Aller";
	  color: rgb(255, 255, 255);
	  background-color: rgb(87, 197, 160);
	  width: 50px;
	  font-weight: bold;
	  line-height: 1.923;
	  text-align: left;
	  z-index: 202;
	  padding-bottom: 15px;
	  padding-top: 15px;
	  padding-right: 10px;
	  padding-left: 10px;
	 
	}
	.blog-two {
	display: none;
	color: red !important
}

	.blog-news h4{
  font-size: 12px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.286;
  text-align: left;
  z-index: 90;
}
.blog-news h5{
  font-size: 12px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  font-weight: bold;
  line-height: 1.143;
  text-align: left;
  padding-left: 60px;
  width: 260px;
}
.blog-news p {
  font-size: 10px!important;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.333;
  text-align: left;
  padding-left: 60px;
  width: 250px;
}

.sort-products{
	    height: 300px;
}


}
@media (min-width: 575px) and (max-width: 768px){
	.navigation a {
    padding-right: 25px !important;
    padding-left: 0px !important;
    color: #000!important;
}
	.slider-navigation {
    height: 90px;
    background-color: #2e2e2e;
	}
	.carousel-caption{
	  font-size: 20px;
	  font-family: "Myriad Pro";
	  color: rgb(36, 36, 36)!important;
	  text-align: left !important;
	  position: absolute;
	  left: 500px !important;
	  top: 45px;
	  z-index: 205;
	}
	.carousel-caption h1{
		font-size: 20px;
	}
	.carousel-caption p{
		font-size: 14px;
	}
	.carousel-caption ._145-99 {
	  font-size: 10px;
	  font-family: "Aller";
	  color: rgb(255, 255, 255);
	  background-color: rgb(87, 197, 160);
	  font-weight: bold;
	  line-height: 1.923;
	  text-align: left;
	  z-index: 202;
	  padding-bottom: 15px;
	  padding-top: 15px;
	  padding-right: 10px;
	  padding-left: 10px;
	  position: absolute;
	  top:-40px;
	  left: 10px;
	}
	.slider-controller li{
		display: inline-block;
		font-size: 10px !important;
		color: #000!important;

	}
	.slider-controller {
		padding-left: 0px;

	}

	.carousel-indicators .active h2 {
		color: #fff !important;
		font-size: 18px;

	}
	.carousel-indicators  h2 {
		color: #fff !important;
		font-size: 18px;

	}
	.carousel-indicators  p {
		font-size: 12px;

	}
	.special-offers img {
    height: auto;
    width: 100%;
	}
	.caret{
	position: absolute;
	top:40%;
	left:67%; 
}

	.shoes p{
	background-color: #57c5a0;
	position: absolute;
	left: 5%;
	padding-bottom: 15px;
	padding-right: 8px;
	padding-top: 15px;
	padding-left:8px;
	color: #fff;
	font-weight:bold;
	font-size: 10px !important;
}
.shoes i p{
	background-color: #242424;
	padding-bottom: 18px;
	padding-right: 8px;
	padding-top: 18px;
	padding-left:8px;
	color: #fff;
	font-weight:bold;
	font-size: 10px !important;
}
.shoes a p{
	background-color: #f27e4b;
	padding-bottom: 18px;
	padding-right: 8px;
	padding-top: 18px;
	padding-left:8px;
	color: #fff;
	font-weight:bold;
	font-size: 10px !important;
}
.shoes h3{
	text-align: center;
	padding-bottom: -10px;
	font-size: 18px
}
.shoes-action li{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 12px !important;
	color: #000!important;
	position: relative;
	top: -25px;
	left: 0px;
}

.products-caption ._145-99_products {
  font-size: 10px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  background-color: rgb(87, 197, 160);
  font-weight: bold;
  line-height: 1.023;
  text-align: left;
  z-index: 202;
  padding-bottom: 17px;
  padding-top: 17px;
  padding-right: 8px;
  padding-left: 8px;
  position: absolute;
  top:10px;
  left: 355px;
}
.products-caption h1{
	font-size: 20px;
  font-family: "Myriad Pro";
  color: rgb(36, 36, 36)!important;
  line-height: 0.85;
  text-align: left !important;
  position: absolute;
  left: 420px !important;
  top: 20px;
  z-index: 205;
}
.products-caption .banner-p{
  font-size: 16px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 0.85;
  text-align: left;
  position: absolute;
  left: 355px;
  top: 65px;
  z-index: 43;
  width: 350px;
}
.on-sale h3{
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	font-size: 16px !important;

}
.special-offert h3{
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	font-size: 16px !important;

}
.must-have h3{
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	font-size: 16px !important;

}
@media (min-width: 780px) and (max-width: 1360px) {

	.products-caption ._145-99_products {
  font-size: 10px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  background-color: rgb(87, 197, 160);
  font-weight: bold;
  line-height: 1.923;
  text-align: left;
  z-index: 202;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 13px;
  padding-left: 13px;
  position: absolute;
  top:15%;
  left: 51%;
}
.products-caption h1{
	font-size: 30px;
  font-family: "Myriad Pro";
  color: rgb(36, 36, 36)!important;
  line-height: 1.25;
  text-align: left !important;
  position: absolute;
  left: 58% !important;
  top: 13.5%;
  z-index: 205;
}
.products-caption .banner-p{
  font-size: 16px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.25;
  text-align: left;
  position: absolute;
  left: 51%;
  top: 50%;
  z-index: 43;
  width: 350px;
}
.carousel-caption{
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(36, 36, 36)!important;
  line-height: 1.25;
  text-align: left !important;
  position: absolute;
  left: 55% !important;
  top: 30%;
  z-index: 205;
}
.carousel-caption ._145-99 {
  font-size: 10px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  background-color: rgb(87, 197, 160);
  font-weight: bold;
  line-height: 1.923;
  text-align: left;
  z-index: 202;
  padding-bottom: 22px;
  padding-top: 22px;
  padding-right: 12px;
  padding-left: 12px;
  position: absolute;
  top:-35%;
  left: 10px;
}
 h1{
	font-size: 1.5rem !important;
}
}